- var files = files
h1 Ванные комнаты
//p Вы доверяете нам работы по ремонту и отделке ванной комнаты под ключ. Основным преимуществом комплексного ремонта «под ключ» является снижение цен на услуги, поскольку отдельные разновидности работ, такие как укладка полов керамической плиткой или установка ванны чугунной будут стоить дороже, чем те же сантехнические работы, сформированные в единый заказ.
//p Распространенный вариант ремонта ванной комнаты – совмещение санузла и туалета. В новой просторной ванной комнате может легко найтись место для просторной ванной и душевой кабины, широкого и удобного шкафа с раковиной, стиральной машиной, и оригинальным полотенцесушителем.
//p Наша цель - организовать производственный процесс и выполнить все сантехнические работы, в результате которых Вы получите оптимальное состояние соединений полипропиленовых и сварки медных туб с учетом современных требований технологии и комфорта. Безграничный простор для свободного полета фантазии предоставляет укладка мраморной плитки, и, не смотря на то, что не все ванные комнаты оснащены удобной и свободной планировкой и часто имеют очень скромные размеры, укладка плитки мозаикой способна сделать каждую ванную комнату индивидуальной и неповторимой.
br
div.gall
	div#mygal
		each file in files
			- var file = "/img/demo/p1/" + file
			a#example(href=file)
				img(width="150px", height="100px", src=file)