- var auth = auth;

h1 Примеры работы по строительству и отделке помещений
p Заказать ремонт квартир в "Masterstroy" более выгодно, чем прибегать к услугам частных строителей. Совместная работа высококлассных специалистов, где каждый находится на своём месте и выполняет четко определенные обязанности, позволяет легко контролировать весь процесс. Мы создаем такие условия, чтобы на каждом этапе работ, будь то отделка стен и потолков или отделка ванной комнаты под ключ, сборка и установка кухни или монтаж корпусной мебели, Вы имели бы возможность внести необходимые коррективы - и многолетний опыт строительства команды «Masterstroy" становился бы залогом исполнения любых Ваших желаний.
p Для получения качественного результата при строительстве загородных домов из бруса наши высокопрофессиональные проектировщики, дизайнеры и опытные мастера, обеспечивают все требования заказчика от внутренней и внешней отделки дома из бруса до выполнения сантехнических работ и монтажа оконных систем с учетом особенностей архитектуры здания.
br
- if (auth)
	h2 Загрузить фото
	form(action="/demo/upload", method="post", enctype="multipart/form-data")
		select(name="menu", size="1")
			option(value="p1") Ванные комнаты
			option(value="p2") Ремонт квартир
			option(value="p3") Ремонт офисов
			option(value="p4") Строительство домов
		input(type="file", name="img1")
		input(type="submit", value="Загрузить")
br
a(href="/demo/bath")
	img(width="150", height="100",  src="/img/demo/p1/01.jpg")

a(href="/demo/apartment")
	img(width="150", height="100",  src="/img/demo/p2/01.jpg")
|&nbsp;
a(href="/demo/office")
	img(width="150", height="100",  src="/img/demo/p3/01.jpg")
|&nbsp;
a(href="/demo/house")
	img(width="150", height="100",  src="/img/demo/p4/01.jpg")
div
	|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	|Ванные комнаты
	|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	|Ремонт квартир
	|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	|Ремонт офисов
	|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	|Строительство домов
	





