div.r_block
	a(href="/new") Ремонт новой квартиры
	br
	br
	a(href="/elite") Элитный ремонт квартир
	br
	br
	a(href="/otdelka") Отделка стен и потолков
	br
	br
	a(href="/decor") Отделка стен и потолков декоративной штукатуркой
	br
	br
	a(href="/laminat") Работа по укладке ламината
	br
	br
	a(href="/plitka") Укладка полов керамической плиткой
	br
	br
	a(href="/potolok") Монтаж подвесного реечного потолка
	br
	br
	a(href="/shkaf") Установка встроенных шкафов
	br
	br
	a(href="/windows") Установка пластиковых окон
	br
	br
	a(href="/brus") Внутренняя отделка дома из бруса

h1 Ремонт квартир и строительство загородных домов
h2 Сезонные скидки на все виды работ!
p Строительная фирма "Мастерстрой" работает на рынке строительных услуг с 2000 года. За этот период деятельности нами создана материально-техническая база,позволяющая выполнять значительные объёмы работ по строительству и ремонту в Москве и области.
p Наша строительная фирма стала профессионалом своего дела. Это позволяет экономить время и средства заказчиков, добиваясь при этом превосходных результатов. Основной вид деятельности нашей компании - ремонт и отделка квартир и офисов под ключ. Также мы занимаемся строительством загородных домов. Наша фирма располагает опытными специалистами,которые качественно выполняют большой спектр ремонтно - отделочных работ.
p Для более точной оценки стоимости работ и материалов, Вы можете вызвать специалиста в удобное для Вас время. Точную стоимость ремонтно-строительных работ, можно узнать,только после составления сметы. <b>Выезд специалиста - БЕСПЛАТНО.</b>
br
p Документы выдаваемые на руки заказчику:
br
|1. Договор (
a(href="/docs/contract.doc") скачать
|)
br
|2. Акт сдачи - приёмки (
a(href="/docs/act.doc") скачать
|)
br
|3. Финансовый расчёт (
a(href="/docs/calculation.doc") скачать
|)









