h1 Монтаж подвесного реечного потолка
p Реечный потолок бывает открытого и закрытого типа. Открытый тип имеет места для декоративных вставок, что придает им эффектность. Закрытые панели все одного цвета без дополнительных украшений. Главное, при покупке такого потолка обратите внимание на его толщину, не стоит покупать рейки толщиной меньше 0.5 мм. 
p Для монтажа подвесного реечного потолка вам понадобятся следующие инструменты:
p Дрель со сверлами, рулетка, ножницы, уровень, саморезы и дюбеля, обычная губка. 
p Сначала нужно разметить потолок. Расстояние от несущего профиля должно быть 0.4 м, от стены до крепления несущего профиля 0.3 м, между ними 1.2 м, между креплениями – 1.2 м. 
p Монтаж нужно начинать с крепления пристенных уголков. Уголок нужно установить по периметру потолка на том уровне, который вы наметили. Закрепить его можно с помощью саморезов или дюбелей с шагом около 600 мм. 
p Крепление подвесов можно сделать с помощью анкеров (со шляпкой от 13 мм), в несущей конструкции делается отверстие (6 х 40 мм), анкер вставляют в подвес и вбивают в отверстие, затем подвес фиксируют. Натяжение каждого подвеса должно быть на одном уровне. Несущие профили нужно устанавливать строго параллельно друг другу. 
p Когда каркас собран, можно устанавливать панели. Панели крепят к несущим профилям, язычки закрепляют панель либо защелкиванием, либо с помощью самореза. Следующую панель защелкивают в выемку предыдущей панели и то же крепят на профиль. Если потолок укладывается в комнате, то делать это стоит по направлению от окна к двери. 
p Последняя панель устанавливается способом заведения ее в торцевой профиль до упора. 
p В случае повреждения панели, ее можно легко снять и заменить. 
