h1 Цены на строительные работы
h2 Принцип ведения расчетной системы
br
|1. Составление общей сметы работ
br 
|2. Заключение договора
br
|3. Разделение ремонтно-строительного процесса на этапы
br
br
p Ремонтно - строительный процесс может включать в себя от 5 до 7 этапов работ.
b Оплата производится поэтапно.
br
br
|К каждому этапу выполненных работ прилагается точная ремонтно-строительная смета и материальный отчет. 
br
|Данная система расчета удобна как для Заказчика ,так и для Подрядчика. 
br
|Для Вашего удобства приводим примерные цены в рублях за м2 по полу.
br
br
|1. Косметический ремонт - от 2500 руб. м2
br
|2. Капитальный ремонт - от 4500 руб. м2
br
|3. Комплексный ремонт   - от 6500 руб. м2
br
p Для более точной оценки стоимости работ и материалов, Вы можете вызвать специалиста в удобное для Вас время.
p Точную стоимость ремонтно – строительных работ можно узнать только после составления сметы.
b Выезд специалиста - БЕСПЛАТНО!