h1 Этапы ремонта квартир или загородных домов
br
b Возведение перегородок
br
|Перегородки являются планировочным элементом, с помощью которого пространство, между несущими стенами,делится на помещения. Перегородки выкладываются пеноблоками различной толщины.
br
br
b Штукатурка
br
|Штукатурка производится гипсовой смесью по маякам, предавая стенам идеально ровную плоскость.
br
br
b Электромонтаж
br
|Производятся после штукатурных работ, что позволяет более точно осуществлять установку подрозетников, щитков.
br
br
b Выполнение сантехнических работ
br
|Установку сантехнических выводов и крепёжных штанг.
br
br
b Стяжка пола
br
|Cтяжка пола осуществляется сухой смесью пескобетон м300 по маякам, что позволяет достичь идеальной горизонтальной поверхности пола.
br
br
b Гипсокартонные работы
br
|Осуществляется монтаж элементов перегородок, коробов, сложных геометрических конструкций из металлического каркаса с последующей облицовкой гипсокартонными листами.
br
br
b Плиточные работы
br
|Плиточные работы производятся после полного высыхания штукатурки и стяжки. Плиточные работы включают в себя облицовку стен и полов.
br
br
b Малярные работы
br
|Включают в себя шпаклёвку и шлифовку стен под обои, шпаклёвку и шлифовку потолков, оклейку стен и потолков армирующим стекловолокном, грунтовку поверхностей. Покраску стен и потолков, оклейка стен обоями.
br
br
b Напольные покрытия
br
|Включают в себя укладку ламината, паркетной доски, настил линолеума и ковровых покрытий, монтаж напольного плинтуса.