h1 Установка пластиковых окон
p Обычно при покупке пластиковых окон фирма предоставляет услугу их установки. Но если вы решили заняться этим самостоятельно, вам нужно знать некоторые нюансы. 
p Самостоятельная установка окон это всегда риск нарушения технологии и использования некачественных материалов. Любая экономия может выйти боком в дальнейшей эксплуатации. 
p После доставки оконной системы осмотрите ее на предмет повреждений. Установка должна быть строго по уровню и отвесу. Крепежные элементы должны идти по всему периметру окна с шагом до 70 см. Ширина зазора между проемом и окном не должна быть больше 3 см. В проем заливается монтажная пена и герметизируется от влаги. Если этого не сделать, то со временем она разрушится. 
p После этого устанавливаются наружные створки и регулируется фурнитура. Защитная пленка снимается только после завершения всей работы. 
p Не рекомендуется заниматься заменой окна в зимний период, так как монтажная пена теряет свои свойства и может не достаточно увеличиться при заливке. 
p Следующим этапом после замены окна идет установка новых откосов и подоконника. Классический способ отделки оконных откосов это штукатурка. Иногда их делают из водостойкого гипсокартона, но это не самый лучший и экономичный вариант. Современный вариант это откосы и подоконники из ПВХ. ПВХ отлично гармонирует с рамой из пластика и стыкуется с ней как одно целое. 
p Так же необходимо установить отлив на внешней стороне для водоотвода. Он крепится на профиле, где для этого есть специальный паз. 
p После установки всех элементов швы нужно заделать герметиком.