h1 Виды строительных работ
h2 Перечень услуг оказываемых нашей фирмой:

b 1.Строительство загородных домов.
br
b 2.Косметический,капитальный и комплексный ремонт под ключ.
br
b 3.Демонтаж стен и перекрытий.
br
b 4.Установка стен и перегородок.
br
b 5.Штукатурка стен и потолков.
br
b 6.Электромонтажные работы.
br
b 7.Малярные и плиточные работы.
br
b 8.Укладка ламината,паркетной и половой доски.
br
b 9.Изготовление и монтаж пластиковых окон.
br
b 10.Сантехнические работы.
br
b 11.Изготовление шкафов купе,монтаж корпусной мебели.
br
b 12.Установка кухонь.